<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/chinese-article.css"/>
  <link rel="stylesheet" href="/stylesheets/github-gist.css"/>
  <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="/javascripts/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>

<body>

  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="jumbotron">
        <h1>Hello World!</h1>
        <p>我的个人学习记录</p>
          <a class='btnn learn' href="/posts">
            进入新世界
          </a>
      </div>
      <div class="chinese-article">
        <h2>测试md文件显示</h2>
        <%- article %>

      </div>
    </div>
  </div>

</body>

</html>
