<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2 class="title"><%= mytitle %></h2>
    <h2>Welcome to <%= mytitle %></h2>
    <ul>
      <% for(let i = 0; i<postsList.length; i++) {%>
      <li><%= postsList[i] %></li>
      <% } %>

    </ul>
  </body>
</html>
