<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><%= mytitle %></h2>
    <h2>Welcome to <%= mytitle %></h2>

  </body>
</html>
